@{
	ViewBag.Title = "RoverPath Test Page";
}

<div>
	<h1>Welcome to RoverPath</h1>
	<p class="lead">RoverPath allows the user to test movement sequence commands for the upcoming Mars rovers.</p>
</div>
<hr />
@using (Html.BeginForm())
{
	<div class="row">
		<div class="col-md-4">
			<h2>Inputs</h2>
			<div class="mb-3">
				<label for="gridSizeInput" class="form-label">Grid Size</label>
				<input class="form-control" id="gridSizeInput" placeholder="X Y" aria-describedby="gridSizeHelp" required>
				<div id="gridSizeHelp" class="form-text">Enter X Y coordinates of north east corner. Example: 5 5 </div>
			</div>
			<div class="mb-3">
				<label for="rover1PositionInput" class="form-label">Rover 1 Position and Heading</label>
				<input class="form-control positionInput" id="rover1PositionInput" placeholder="X Y Z" aria-describedby="rover1PositionHelp" required>
				<div id="rover1PositionHelp" class="form-text">Enter X Y Z coordinates of rover 1. Example: 2 3 N</div>
			</div>
			<div class="mb-3">
				<label for="rover1MovementInput" class="form-label">Rover 1 Movement Sequence</label>
				<input class="form-control sequenceInput" id="rover1MovementInput" placeholder="LRMLRM..." aria-describedby="rover1MovementHelp">
				<div id="rover1MovementHelp" class="form-text">Enter movement sequence of rover 1.</div>
			</div>
			<div class="mb-3">
				<label for="rover2PositionInput" class="form-label">Rover 2 Position and Heading</label>
				<input class="form-control positionInput" id="rover2PositionInput" placeholder="X Y Z" aria-describedby="rover2PositionHelp" required>
				<div id="rover2PositionHelp" class="form-text">Enter X Y Z coordinates of rover 2. Example: 5 4 W</div>
			</div>
			<div class="mb-3">
				<label for="rover2MovementInput" class="form-label">Rover 2 Movement Sequence</label>
				<input class="form-control sequenceInput" id="rover2MovementInput" placeholder="LRMLRM..." aria-describedby="rover2MovementHelp">
				<div id="rover2MovementHelp" class="form-text">Enter movement sequence of rover 2.</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-md-8">
			<div id="results" style="display: none;">
				<h2>Sequence Result: <span id="roverStatus"></span></h2>
				<label style="padding-left: 5px; font-weight: bold;" id="validateMessage"></label>
				<h4>Rover 1</h4>
				New Position:&emsp;<span id="rover1Position"></span>
				<br />
				<br />
				<h4>Rover 2</h4>
				New Position:&emsp;<span id="rover2Position"></span>
			</div>
			
		</div>
	</div>
}

@section scripts
	{
	<script>
		$(document).ready(function () {

		});

		$('form').submit(function (event) {
			event.preventDefault();
			event.stopPropagation();
			var validated = true;
			var gridValidate = new RegExp(/^[0-9]+[ ][0-9]+$/);
			var positionValidate = new RegExp(/^[0-9]+[ ][0-9]+[ ][NSEW]$/);
			var sequenceValidate = new RegExp(/^[LRM]+$|^$/);

			if (!gridValidate.test($('#gridSizeInput').val())) {
				$('#gridSizeInput').addClass('border-danger');
				validated = false;
				$('#validateMessage').addClass('text-danger');
				$('#validateMessage').html('Please correct the grid size input.');
			}
			else {
				$('#gridSizeInput').removeClass('border-danger');
			}

			var gridX = $('#gridSizeInput').val().split(' ')[0];
			var gridY = $('#gridSizeInput').val().split(' ')[1];

			$.each($('.positionInput'), function (index, input) {
				if (!positionValidate.test($(input).val().toUpperCase())) {
					$(input).addClass('border-danger');
					validated = false;
					$('#validateMessage').addClass('text-danger');
					$('#validateMessage').html('Please correct the position input.');
				}
				else if ($(input).val().split(' ')[0] > gridX || $(input).val().split(' ')[1] > gridY) {
					$(input).addClass('border-danger');
					validated = false;
					$('#validateMessage').addClass('text-danger');
					$('#validateMessage').html('The input position is outside the grid bounds.');
				}
				else {
					$(input).removeClass('border-danger');
				}
			});

			$.each($('.sequenceInput'), function (index, input) {
				if (!sequenceValidate.test($(input).val().toUpperCase())) {
					$(input).addClass('border-danger');
					validated = false;
					$('#validateMessage').addClass('text-danger');
					$('#validateMessage').html('Please correct the movement sequence input.');
				}
				else {
					$(input).removeClass('border-danger');
				}
			});

			if (!validated) {
				return;
			}
			else {
				$('#validateMessage').removeClass('text-danger');
				$('#validateMessage').html('');
				$.getJSON('@Url.Action("MoveRover")', { gridSize: $('#gridSizeInput').val(), rover1Start: $('#rover1PositionInput').val().toUpperCase(), rover1Sequence: $('#rover1MovementInput').val().toUpperCase(), rover2Start: $('#rover2PositionInput').val().toUpperCase(), rover2Sequence: $('#rover2MovementInput').val().toUpperCase() }, function (result) {
					if (!result.success) {
						$('#roverStatus').removeClass('text-success');
						$('#roverStatus').addClass('text-danger');
						$('#roverStatus').html(result.status);
						$('#validateMessage').addClass('text-danger');
						$('#validateMessage').html(result.error);
					} else {
						// handle the success
						$('#roverStatus').removeClass('text-danger');
						$('#roverStatus').addClass('text-success');
						$('#roverStatus').html(result.status);
						$('#rover1Position').html(result.rover1.Position.RoverX + ' ' + result.rover1.Position.RoverY + ' ' + result.rover1.Position.RoverHeading);
						$('#rover2Position').html(result.rover2.Position.RoverX + ' ' + result.rover2.Position.RoverY + ' ' + result.rover2.Position.RoverHeading);
					}
					$('#results').show();
				});
				
			}
		});

	</script>
}
